// .__..................__.........................................
// |..\................|..\........................................
// |.$$____....______..|.$$..______....______....______...._______.
// |.$$....\../......\.|.$$./......\../......\../......\../.......\
// |.$$$$$$$\|..$$$$$$\|.$$|..$$$$$$\|..$$$$$$\|..$$$$$$\|..$$$$$$$
// |.$$..|.$$|.$$....$$|.$$|.$$..|.$$|.$$....$$|.$$...\$$.\$$....\.
// |.$$..|.$$|.$$$$$$$$|.$$|.$$__/.$$|.$$$$$$$$|.$$......._\$$$$$$\
// |.$$..|.$$.\$$.....\|.$$|.$$....$$.\$$.....\|.$$......|.......$$
// .\$$...\$$..\$$$$$$$.\$$|.$$$$$$$...\$$$$$$$.\$$.......\$$$$$$$.
// ........................|.$$....................................
// ........................|.$$....................................
// .........................\$$....................................

//Utilities: open selectors to apply to any element
$secondary_action: red;
.spaced {
  padding: 10px;
}
.border {
  border: 1px solid $secondary_action;
}
.text-center {
  text-align: center;
}

//Animations: keyframs for classes from animation.scss
//--carousel animaton;
