// ...................../$$..............................
// ....................|.$$..............................
// ../$$$$$$$../$$$$$$.|.$$../$$$$$$.../$$$$$$.../$$$$$$$
// ./$$_____/./$$__..$$|.$$./$$__..$$./$$__..$$./$$_____/
// |.$$......|.$$..\.$$|.$$|.$$..\.$$|.$$..\__/|..$$$$$$.
// |.$$......|.$$..|.$$|.$$|.$$..|.$$|.$$.......\____..$$
// |..$$$$$$$|..$$$$$$/|.$$|..$$$$$$/|.$$......./$$$$$$$/
// .\_______/.\______/.|__/.\______/.|__/......|_______/.
// ......................................................
// ......................................................
// ......................................................

//BRAND COLOR

//ACTION COLORS
$primaryCo: #9b240e;
$primaryVa: #c63c18;
//---------------------------
$secondaryCo: #8c031c;
$secondaryVa: #c82734;

//BOOLEAN COLORS
$positiveCo: #00c853;
$negativeCo: #d50000;

//BACKGROUND & SURFACE COLORS
$backgroundCo: #c63c18;
$surfaceCo: #b93319;

//GRAY COLORS
$darkCo: #452724;
$mediumCo: #55332c;
$lightCo: #643e36;

//On COLORS
$onLight: #211e1e;
$onDark: #d2d1d1;
