// .../$$..................................
// ..|.$$..................................
// ./$$$$$$.../$$.../$$../$$$$$$.../$$$$$$.
// |_..$$_/..|.$$..|.$$./$$__..$$./$$__..$$
// ..|.$$....|.$$..|.$$|.$$..\.$$|.$$..\.$$
// ..|.$$./$$|.$$..|.$$|.$$..|.$$|.$$..|.$$
// ..|..$$$$/|..$$$$$$$|.$$$$$$$/|..$$$$$$/
// ...\___/...\____..$$|.$$____/..\______/.
// .........../$$..|.$$|.$$................
// ..........|..$$$$$$/|.$$................
// ...........\______/.|__/................

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,600,700,800");

$fontMo: "Montserrat", sans-serif;
$fontRoS: "Roboto Slab", sans-serif;

//TYPOS
$h1: 60px;
$h2: 35px;
$h3: 25px;

$p: 20px;
$s: 15px;

//TYPO BOLDS
$black: 800;
$bolder: 700;
$medium: 600;
$normal: 500;
$light: 400;
